.home-container{
  width: 100vw;
  height: 100vh;
  }
  
  .logout-button {
    margin-top: 20px;
    background-color: #ff0000;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 95vw;
  }
  
  .navbar-left h2 {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .navbar-right select {
    margin-right: 10px;
  }

  .content{
   margin-left: 18px !important;
  }

  
  
  