.todo-container {
  border: 1px solid #ccc;
  padding: 35px;
  padding-bottom: 0;
  border-radius: 4px;
  margin-left: 250px;
  margin-right: 200px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45vw;
}

.todo-list {
  list-style: none;
  padding: 0;
  
}

.todo-item {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.todo-item.in-progress {
  background-color: #f5f5f5;
}

.todo-item.on-hold {
  background-color: rgb(243, 193, 101);
}

.todo-item.complete {
  background-color: #c8e6c9;
}

.todo-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-check{
  display: inline-flex;
}

.todo-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.todo-title.highlight {
  color: white;
  background-color: #86aaea;
}

.todo-description {
  margin: 5px 0;
  flex-grow: 1;
}

.todo-actions {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.edit-button {
  margin-left: 10px;
  background-color: rgb(133, 133, 247);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  margin-left: 10px;
  background-color: red;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.status-select {
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 4px;
}

.filter-container {
  margin-bottom: 10px;
}

input[type='checkbox'] {
  margin-right: 8px;
}

.bookmark-section button {
  background: #f4508a;
  padding: 5px 10px;
  margin: 1px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
